<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Hello, webpack</h1>
        <div id="id"></div>
        //- <script>
        //-     document.querySelector(id='#root').innerHTML=word
        //- </script>
        <script src="hello.js"></script>
        <script src="world.js"></script>
    </body>
</html>